################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FirstOne/FirstOneTests/Debug
/FirstOne/FirstOne/Debug
/FirstOne/.vs/FirstOne/v15/ipch
/FirstOne/.vs/FirstOne/v15/Solution.VC.db-wal
/FirstOne/.vs/FirstOne/v15/Solution.VC.db-shm
/FirstOne/.vs/FirstOne/v15/Solution.VC.db
/FirstOne/.vs/FirstOne/v15/Browse.VC.opendb
/FirstOne/Debug
