################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FirstOne/FirstOneTests/Debug
/FirstOne/FirstOne/Debug
/FirstOne/.vs/FirstOne/v15/ipch
/FirstOne/.vs/FirstOne/v15/Solution.VC.db-wal
/FirstOne/.vs/FirstOne/v15/Solution.VC.db-shm
/FirstOne/.vs/FirstOne/v15/Solution.VC.db
/FirstOne/.vs/FirstOne/v15/Browse.VC.opendb
/FirstOne/Debug
/.vs
/const qualifer/const qualifer/Debug
/const qualifer/Debug
/DefaultFunctionArgs/.vs/DefaultFunctionArgs/v14
/ForEach/.vs/ForEach
/ForEach/Debug
/ForEach/ForEach/Debug
/Function Overloading/.vs/Function Overloading
/Function Overloading/Debug
/Function Overloading/Function Overloading/Debug
/Function Pointer/.vs/Function Pointer
/Function Pointer/Debug
/Function Pointer/Function Pointer/Debug
/Inline Functions/.vs/Inline Functions
/Inline Functions/Debug
/Inline Functions/Inline Functions/Debug/Inline Functions.tlog
/Inline Functions/Inline Functions/Debug
/MemMgmtC/.vs/MemMgmtC/v15
/MemMgmtC/enc_temp_folder/ab814e27b8859f4a512ef424c86de1f1
/MemMgmtC/MemMgmtC/x64/Debug
/MemMgmtC/x64/Debug
/Namespace/.vs/Namespace
/Namespace/Debug
/Namespace/Namespace/Debug
/Pointers/.vs/Pointers/v14
/Reference/.vs/Reference/v14
/BasicIO/.vs/BasicIO/v14
/const qualifer/.vs/const qualifer
/AutoKeyword/.vs/AutoKeyword/v14
